* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(44, 61, 79);

  .container {
    width: 1100px;
    /* background-color: red; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 0px;
    margin: 0px auto;
  }

  .logo {
    display: inline-block;
    margin-right: 600px;
    color: white;
    font-weight: 900;
  }

  .navBox {
    display: inline-block;
    .navItem {
      color: white;
      text-decoration: none;
      margin: 0px 10px;
    }
  }
}
